.main {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 100vh;
  background-color: #fff3f0;
}

.calculator {
  width: 400px;
  border: 1px solid black;
  padding: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  border-radius: 16px;
  background-color: #080708;
}

.display {
  width: 100%;
  height: 60px;
  background-color: paleturquoise;
  border-radius: 16px;
  text-align: end;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.buttons button {
  background-color: #48bf84;
  width: 95px;
  height: 80px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
}

.buttons .wideButton {
  width: calc(95px * 2 + 6px);
  background-color: #26f79d;
}
#calc-button:hover {
  background-color: #b8e1ff;
}

button:hover {
  background-color: #439775;
}
#AC {
  background-color: #acfcd9;
}
#AC:hover {
  background-color: #086375;
}
#DEL {
  background-color: #acfcd9;
}
#DEL:hover {
  background-color: #086375;
}
#decimal {
  background-color: #acfcd9;
}
#decimal:hover {
  background-color: #086375;
}
#add {
  background-color: #acfcd9;
}
#add:hover {
  background-color: #086375;
}
#substract {
  background-color: #acfcd9;
}
#substract:hover {
  background-color: #086375;
}
#multiply {
  background-color: #acfcd9;
}
#multiply:hover {
  background-color: #086375;
}
#divide {
  background-color: #acfcd9;
}
#divide:hover {
  background-color: #086375;
}
#negative {
  background-color: #acfcd9;
}
#negative:hover {
  background-color: #086375;
}
